<html>
	<head>
		{% if title %}
		<title>{{ title }} - YucaFlask</title>
		{% else %}
		<title>Welcome to YucaFlask</title>
		{% endif %}
	</head>
	<body>
		<div>
			Yuca
			<a href="{{ url_for('index') }}">Home</a>
			<a href="{{ url_for('new_entry') }}">New Entry</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>